openapi: 3.1.0
info:
  title: Google People contactGroups API
  description: The Google People API provides access to information about profiles and contacts. It enables reading and managing the authenticated user's contacts and accessing profile information for authenticated users across Google services.
  version: 1.0.0
  contact:
    name: Google
    url: https://developers.google.com/people
servers:
- url: https://people.googleapis.com/v1
security:
- OAuth2: []
tags:
- name: contactGroups
paths:
  /contactGroups:
    get:
      operationId: listContactGroups
      summary: Google People List Contact Groups
      description: List all contact groups owned by the authenticated user.
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      tags:
      - contactGroups
    post:
      operationId: createContactGroup
      summary: Google People Create Contact Group
      description: Create a new contact group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactGroup'
      responses:
        '200':
          description: Successful response
      tags:
      - contactGroups
  /contactGroups/{resourceName}:
    get:
      operationId: getContactGroup
      summary: Google People Get Contact Group
      description: Get a specific contact group.
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroup'
      tags:
      - contactGroups
    put:
      operationId: updateContactGroup
      summary: Google People Update Contact Group
      description: Update the name of an existing contact group.
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactGroup'
      responses:
        '200':
          description: Successful response
      tags:
      - contactGroups
    delete:
      operationId: deleteContactGroup
      summary: Google People Delete Contact Group
      description: Delete an existing contact group.
      parameters:
      - name: resourceName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
      tags:
      - contactGroups
components:
  schemas:
    ContactGroup:
      type: object
      properties:
        resourceName:
          type: string
        etag:
          type: string
        name:
          type: string
        formattedName:
          type: string
        memberCount:
          type: integer
        groupType:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/contacts: Manage contacts
            https://www.googleapis.com/auth/contacts.readonly: View contacts
